# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
leap_digital_map/
venv/
env/
ENV/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local

